body {
    background: url('../res/background.jpg') repeat;
}

.section {
    background-color: white;
    padding: 2em;
    margin: 2em;
    border-radius: 3px;
    box-shadow: 0px 0px 3px black;
}

.footer {
    padding: 2em;
    margin: 2em;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 3px black;
}

h1 {
    text-align: center;
    color: #3ec947;
    text-shadow: 3px 3px 1px black;
    font-size: 80pt;
    font-family: "Agency FB", sans-serif;
}

h2 {
    text-align: center;
}

#formula {
    display: block;
    margin-top: 1em;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: large;
    font-style: italic;
}

.formula-input-group {
    margin-bottom: 1em;
}

.formula-input-label {
    width: 20px;
}

#testEngine {
    background: #fff;
    display: block;
    margin: 0 auto;
}

.preset {
	padding: 10px;
	margin: 10px;
	font-size: large;
	display: block;
}

.setting {
    margin: 20px;
}

.setting .ui-slider-range {
    background: #c6c6c6;
}

.setting .ui-slider-handle {
    border-color: #c6c6c6;
}

.setting-label, .param-label {
    margin-top: 20px;
    font-size: large;
    display: block;
}

.help-btn {
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1em;
}

.param-help {
    display: block;
    font-size: medium;
}

#out-help {
    margin-bottom: 10px;
}

input[readonly] {
    background-color: #e6e6e6 !important;
}