body {
    background-color: aliceblue;
}

.section {
    background-color: white;
    padding: 2em;
    margin: 2em;
}

.footer {
    padding: 2em;
    margin: 2em;
    background-color: white;
    text-align: center;
    width: 100%;
}

h1 {

}

#formula {
    display: block;
    margin-top: 1em;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: large;
    font-style: italic;
}

.formula-input-group {
    margin-top: 1em;
}

.formula-input-label {
    width: 20px;
}

#testEngine {
    background: #fff;
    display: block;
    margin: 0 auto;
}

.preset {
	padding: 10px;
	margin: 10px;
	font-size: large;
	display: block;
}

.setting {
    margin: 20px;
}

.setting .ui-slider-range {
    background: #999999;
}

.setting .ui-slider-handle {
    border-color: #999999;
}

.setting-label {
    margin-top: 20px;
    font-size: large;
    display: block;
}